<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="/template.fragments/head :: head"> </head>
<body>
  
  <nav th:replace="/template.fragments/navbar :: nav"> </nav>
  <div
  th:if="${error != null}"
  class="card text-white bg-danger mb-3 mt-3 mensajeError animate__animated animate__fadeInDown animate__faster"
>
  <div class="card-body">
    <h5 class="card-title">Error</h5>
    <p class="card-text" th:text="${error}"></p>
  </div>
</div>

<div th:if="${exito != null}" class="mensajeExito animate__animated animate__fadeInDown animate__faster">
  <div class="card text-white bg-success mb-3 mt-3">
      <div class="card-body">
          <h5 class="card-title">Éxito</h5>
          <p class="card-text" th:text="${exito}"></p>
      </div>
  </div>
</div>

    <div class="container-sm tabla-container">
        <h3 class= "form-h3">Comentarios</h3>
        <table class="table">
            <thead >
                <tr>
                    <th>Id de Objeto</th>
                    <th>Pendientes</th>
                    <th>Aceptados</th>
                    <th>Desestimados</th>
                </tr>
            </thead >
            <tbody>
                <tr th:each="estados : ${conteoComentarios}">
                    <td th:text="${estados.key}"></td>
                    <td th:text="${estados.value['PENDIENTE']} ?: 0"></td>
                    <td th:text="${estados.value['ACEPTADO']} ?: 0"></td>
                    <td th:text="${estados.value['DESESTIMADO']} ?: 0"></td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <div class="container-sm tabla-container">
        <h3 class= "form-h3">Publicaciones</h3>
        <table class="table">
            <thead >
                <tr>
                    <th>Id de Objeto</th>
                    <th>Pendientes</th>
                    <th>Aceptados</th>
                    <th>Desestimados</th>
                </tr>
            </thead >
            <tbody>
                <tr th:each="estados : ${conteoPublicaciones}">
                    <td th:text="${estados.key}"></td>
                    <td th:text="${estados.value['PENDIENTE']} ?: 0"></td>
                    <td th:text="${estados.value['ACEPTADO']} ?: 0"></td>
                    <td th:text="${estados.value['DESESTIMADO']} ?: 0"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-sm tabla-container">
        <h3 class= "form-h3">Usuarios</h3>
        <table class="table">
            <thead >
                <tr>
                    <th>Id de Objeto</th>
                    <th>Pendientes</th>
                    <th>Aceptados</th>
                    <th>Desestimados</th>
                </tr>
            </thead >
            <tbody>
                <tr th:each="estados : ${conteoUsuarios}">
                    <td th:text="${estados.key}"></td>
                    <td th:text="${estados.value['PENDIENTE']} ?: 0"></td>
                    <td th:text="${estados.value['ACEPTADO']} ?: 0"></td>
                    <td th:text="${estados.value['DESESTIMADO']} ?: 0"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <section th:replace="/template.fragments/sectionIcon :: section"></section>                  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>