<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/template.fragments/head :: head"> </head>
  <body>
    <nav th:replace="/template.fragments/navbar :: nav"></nav>
    <div
      th:if="${error != null}"
      class="card text-white bg-danger mb-3 mt-3 mensajeError animate__animated animate__fadeInDown animate__faster"
    >
      <div class="card-body">
        <h5 class="card-title">Error</h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>

    <div
      th:if="${exito != null}"
      class="mensajeExito animate__animated animate__fadeInDown animate__faster"
    >
      <div class="card text-white bg-success mb-3 mt-3">
        <div class="card-body">
          <h5 class="card-title">Éxito</h5>
          <p class="card-text" th:text="${exito}"></p>
        </div>
      </div>
    </div>
    <div class="container-sm tabla-container">
      <h3 class="form-h3">Publicaciones Denunciados</h3>

      <div class="table-responsive">
        <table class="table">
            <thead >
                <tr>
                    <th class="table_id">Texto</th>
                    <th>Estado</th>
                    <th>Tipo Denuncia</th>
                    <th>Tipo</th>
                    <th>Ver</th>
                    <th>Rechazar Reporte</th>
                    <th>Aceptar Reporte</th>

                </tr>
            </thead>
            <tbody th:each="publicacion : ${reportePublicaciones}">
                <tr>
                    <th th:text="${publicacion.texto}"></th>
                    <th th:text="${publicacion.estado}"></th>
                    <th th:text="${publicacion.tipo}"></th>
                    <th th:text="${publicacion.tipoObjeto}"></th>
                    <th>
                        <a th:href="@{/publicacion/{idObjeto}(idObjeto=${publicacion.idObjeto})}" class="btn btn-secondary"><i class="bi bi-search"></i></a>
                    </th>
                    <th>
                      <form th:action="@{/admin/publicacion}" method="post">
                          <input type="hidden" name="idReporte" th:value="${publicacion.idReporte}"/>
                          <button type="submit" name="estado" value="DESESTIMADO" class="btn btn-success"><i class="bi bi-hand-thumbs-down"></i></button>
                      </form>

                  </th>
                  <th>
                      <form th:action="@{/admin/publicacion}" method="post">
                          <input type="hidden" name="idReporte" th:value="${publicacion.idReporte}"/>
                          <button type="submit" name="estado" value="ACEPTADO" class="btn btn-danger"><i class="bi bi-hand-thumbs-up"></i></button>
                      </form>
                  </th>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    </div>
    <section th:replace="/template.fragments/sectionIcon :: section"></section>                  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>
