<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/template.fragments/head :: head"> </head>
  <body>
    <img
      class="img-fondo"
      src="https://images.pexels.com/photos/1884584/pexels-photo-1884584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="moda"
    />
    <nav th:replace="/template.fragments/navbar :: nav"></nav>

    <div class="container m5 formulario-container_buscarNombre">
      <form
        class="formulario_nombre"
        th:action="@{/usuarios/buscarnombre}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div
          th:if="${error != null}"
          class="card text-white bg-danger mb-3 mt-3 mensajeError"
        >
          <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text" th:text="${error}"></p>
          </div>
        </div>

        <div class="form-group my-3">
          <h3 class="form_h3 card-title">Buscar Usuario por Nombre</h3>
        </div>
        <div class="form-group my-3">
          <input
            type="text"
            class="form-control_input1"
            name="nombre"
            placeholder="Nombre"
            th:value="${nombre}"
          />
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody th:each="usuario : ${usuariosNom}">
              <tr>
                <th th:text="${usuario.nombre}"></th>
                <th th:text="${usuario.email}"></th>
              </tr>
              <a th:href="@{'/reportar?tipo=USUARIO&id=' + ${usuario.idUsuario}}" class="btn btn-danger p-1" data-toggle="tooltip" title="Denunciar">
                <i class="bi bi-exclamation-diamond"></i>
            </a>
            
            </tbody>
          </table>
        </div>
        <button type="submit" class="btn mt-3 botones_buscarnombre">
          Buscar
        </button>
      </form>
    </div>
    <section th:replace="/template.fragments/sectionIcon :: section"></section>                  

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="../static/script/animacionesError.js"></script>
  </body>
</html>
