<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/template.fragments/head :: head"> </head>
  <body>
    <nav th:replace="/template.fragments/navbar :: nav"></nav>
    <div class="message-container">
      <div
        th:if="${error != null}"
        class="card error-card mb-3 mt-3 mensajeError"
      >
        <div class="card-body">
          <h5 class="card-title">Error</h5>
          <p class="card-text" th:text="${error}"></p>
        </div>
      </div>

      <div th:if="${exito != null}" class="success-card mensajeExito">
        <div class="card text-white bg-success mb-3 mt-3">
          <div class="card-body">
            <h5 class="card-title">Éxito</h5>
            <p class="card-text" th:text="${exito}"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-containerr">
      <h3 class="card-title">Formulario de Denuncia</h3>
      <form th:action="@{/reportar}" method="POST">
        <textarea
          name="texto"
          id="texto"
          class="input-field"
          placeholder="Texto de la denuncia"
          style="resize: vertical; width: 100%; font-size: 23px"
        ></textarea>
        <select id="tipo" name="tipo" class="input-field">
          <option value="SPAM">SPAM</option>
          <option value="CONTENIDO_OFENSIVO">CONTENIDO OFENSIVO</option>
          <option value="INCUMPLIMIENTO_DE_REGLAS">
            INCUMPLIMIENTO DE REGLAS
          </option>
        </select>
        <input type="hidden" name="tipoObjeto" th:value="${tipoObjeto}" />
        <input type="hidden" name="idObjeto" th:value="${idObjeto}" />
        <input type="submit" value="Denunciar" class="btnn" />
      </form>
      <div>
        <p th:text="${mensaje}"></p>
      </div>
    </div>
    <!-- <div
      class="form-group my-3"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      "
    >
      <h3 class="card-title">Formulario de Denuncia</h3>
      <form th:action="@{/reportar}" method="POST">
        <textarea
          name="texto"
          id="texto"
          class="input-field"
          placeholder="Texto de la denuncia"
          style="resize: vertical; width: 100%; font-size: 23px"
        ></textarea>
        <select id="tipo" name="tipo" class="input-field">
          <option value="SPAM">SPAM</option>
          <option value="CONTENIDO_OFENSIVO">CONTENIDO OFENSIVO</option>
          <option value="INCUMPLIMIENTO_DE_REGLAS">
            INCUMPLIMIENTO DE REGLAS
          </option>
        </select>
        <input type="hidden" name="tipoObjeto" th:value="${tipoObjeto}" />
        <input type="hidden" name="idObjeto" th:value="${idObjeto}" />
        <input type="submit" value="Denunciar" class="btn" />
      </form>-->

    <!--
        <select id="tipoObjeto" name="tipoObjeto" class="input-field">
          <option value="USUARIO">USUARIO</option>
          <option value="COMENTARIO">COMENTARIO</option>
          <option value="PUBLICACION">PUBLICACION</option>
        </select>
      -->
    <!--
        <input
          type="text"
          name="idObjeto"
          id="idObjeto"
          class="input-field"
          placeholder="Código"
        />
      -->
      <section th:replace="/template.fragments/sectionIcon :: section"></section>                  

    <script src="../static/script/script.js"></script>
    <script src="../static/script/animacionesError.js"></script>
    <script src="../static/script/animacionExito.js"></script>
    <script src="../static/script/animacionExito.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
